[project]
	description = yaf+php7+nginx+mysql docker 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Parallel (swumao)
[access "refs/for/refs/*"]
	read = group user/Parallel (swumao)
	push = group user/Parallel (swumao)
	label-Code-Review = -2..+2 group user/Parallel (swumao)
	label-Verified = -1..+1 group user/Parallel (swumao)
	rebase = group user/Parallel (swumao)
	removeReviewer = group user/Parallel (swumao)
	submit = group user/Parallel (swumao)
[access "refs/heads/*"]
	read = group user/Parallel (swumao)
	create = group user/Parallel (swumao)
	push = +force group user/Parallel (swumao)
	pushMerge = group user/Parallel (swumao)
[access "refs/tags/*"]
	push = group user/Parallel (swumao)
	push = +force group user/Parallel (swumao)
